.board {font-size: 14px;}

.board .board_list_wrap{width: 100%; margin: 0 0 20px;}
.board .board_list_wrap table{width: 100%; max-width: 800px; margin:0 auto; border-spacing: 0; border-collapse: collapse;}
.board .board_list_wrap table tr.hot{background-color: rgb(255, 249, 250); font-weight: bold;}
.board .board_list_wrap table tr th,
.board .board_list_wrap table tr td{ padding: 10px 0px;text-align: center; border-bottom: 1px solid #ddd;}
.board .board_list_wrap table tr th{border-top: 1px solid #ddd; background-color: #f3f3f3;}
.board .board_list_wrap table tr td:nth-of-type(1){width: 60px;}
.board .board_list_wrap table tr td:nth-of-type(2){margin-right: auto; text-align: left;}
.board .board_list_wrap table tr td:nth-of-type(3){width: 150px;}
.board .board_list_wrap table tr td:nth-of-type(4){width: 100px;}
.board .board_list_wrap table tr td:nth-of-type(5){width: 100px;}

.board .search_box_wrap{margin: 0 0 20px;}
.board .search_box_wrap form {display: flex; justify-content: center; gap: 10px;}
.board .search_box_wrap .search_field{}
.board .search_box_wrap .search_word{}
.board .search_box_wrap .search_btn{}

.board .pagenation{width: 100%; display: inline-flex; gap: 10px;justify-content: center;}
